---
import Field from '../components/Field.astro'
import Layout from '../components/Layout.astro'
---
<Layout>
		<Field>
    <div slot="___">{({test}) => <div>{test}</div>}</div>
    <div slot="post">
      {({node}) => <p style="color: green;">{node.childNodes}</p>}
    </div>
    <div slot="and">
      {({node}) => <p style="color: green;">{node.childNodes}</p>}
    </div>
    <div slot="after">
      {({node, index}) => <div>AFTER</div>}
    </div>
    <div slot="before">
      {({node, index}) => <div>BEFORE</div>}
    </div>
  </Field>
</Layout>
